<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="approveapp">
			  	<div class="card-header">
			  		<h5 class="card-title">Approved Status Application</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_approve}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="declinedapp">
			  	<div class="card-header">
			  		<h5 class="card-title">Declined Status Application</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_declined}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>